.activity-container{
    margin-top:40px !important;
}

.activity-container h2{
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.rejected-area{
    background: #F14F35;
    width: 100%;
    padding: 15px;
    color: white !important;
}
.submission-section{
    margin-top: 100px !important;
}
.submission-section .table{
    background: white;
}
.activity-container .col-sm-12{
    padding-left:0;
}
.activity-section{
    width: 60%;
    margin: auto;
    background: white;
    margin-top: 50px;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid #EBEBEE;
}

.activity-section .create-group-btn{
    float: right;
    margin-top: 50px;
}


.game{
    text-transform: uppercase;
    color: #0F30C7;
}

.activity-details-section{
    color: white !important;
    width: 100%;
    padding: 25px;
    background: #1d33e0; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1d33e0 1%, #3281ff 100%); /* FF3.6-15 */
    border-radius: 5px;
    margin-top: 20px !important;
    background: -webkit-linear-gradient(45deg, #1d33e0 1%,#3281ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1d33e0 1%,#3281ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.activity-details-section p{
    color: white !important;
    padding-top: 2px;
}
.activity-details-section .title{
    font-weight: bold;
    font-size: 36px;
}
.activity-details-section i{
    background: white;
    color: #1d33e0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
}
table,th,tr,td{
    border:none !important;
}
td{
    opacity: 0.8;
    font-size: 14px;
}
 th{
    background: rgba(0,0,0,0.06);
    font-size: 14px !important;
    font-weight: normal !important;
}
table{
    margin-top: 25px;
}
.activity-details-admin-section{
    color: white !important;
    width: 100%;
    padding: 25px 50px;
    margin-bottom: 40px !important;
    background: #1d33e0; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1d33e0 1%, #3281ff 100%); /* FF3.6-15 */
    border-radius: 5px;
    margin-top: 20px !important;
    background: -webkit-linear-gradient(45deg, #1d33e0 1%,#3281ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1d33e0 1%,#3281ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.activity-details-admin-section p{
    color: white !important;
    padding-top: 2px;
}
.activity-details-admin-section .title{
    font-weight: bold;
    font-size: 36px;
}
.activity-details-admin-section i{
    background: white;
    color: #1d33e0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
}
