#createActivityModal{
    padding-bottom: 200px;

}
.content{
    margin-top: 7%;
}
#createActivityModal .modal-title{
    margin: auto;
}
#createActivityModal .modal-header{
    padding-bottom: 0;
}
table,th,tr,td{
    border:none !important;
}
.not-found{
    background: rgba(0,0,0,0.03);
    width: 100%;
padding: 40px 20px;
margin: 15px;
border-radius: 5px;
text-align: center;
font-size: 16px;

}
.create-activity-btn{
    background: #4046DC;
    color: white;
    border: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}
td{
    opacity: 0.8;
    font-size: 14px;
}
 th{
    background: rgba(0,0,0,0.02);
    font-size: 14px !important;
    font-weight: normal !important;
}
table{
    margin-top: 25px;
}

.post-row{
    padding-top: 10px;
}
.group-list{
    margin-bottom: 20px;
}
.group-list .card{
    border:1px solid #F1F1F1;
}
.card-body .name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.join-btn{
    margin-left: 5px;
    margin-top: 20px;
    float: right;
    font-weight: bold;
    font-size: 13px;
    background: #152AC0;
    border: none;
}
.play-btn{
    background:#0A1087;
}
.delete{
    background:#E71D1D !important;
}
.delete-btn{
    margin-left: 5px;
    margin-top: 20px;
    float: right;
    font-weight: bold;
    font-size: 13px;
    background: #E02424;
    border: none;
}
.edit-btn{
    margin-left: 5px;
    margin-top: 20px;
    float: right;
    font-weight: bold;
    font-size: 13px;
    background: #2067D3;
    border: none;
}
.visit-btn{
    float: right;
    font-weight: bold;
    font-size: 13px;
    background: white;
    border: none;
    color: #3758EE;
    border:1px solid #3758EE;
}
.no-result{
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: white;
    border: 1px solid #E9E9E9;
    color: gray;
    border-radius: 5px;
    font-size: 14px;
}
.card-body .description{
    font-size: 14px;
    opacity: 0.8;
}
.add-icon{
    width: 45px;
}
.group-item{
    width: 10vw;
    text-align: center;
}
.post-content{
    margin: auto;
}
.post-list small{
    padding-bottom: 10px;
}
.option-input{
    margin-bottom: 10px;
}
.group-item p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight:lighter;
}
.group-item img{
    width: 100%;
}
.search-section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-section{
    border: 1px solid #EBEBEE;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background: #F9F9FA;
    padding: 10% 5%;
    margin-top: 50px;
    text-align: center;
}

.content-section h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.content-section button{
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
}
.group-details{
    background: #F6F6F6;
    padding: 2% 5%;
    background: url('/img/picture/group-bg.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}
.group-details h1{
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.group-details p{
    color: white;
    font-size: 13px;
    opacity: 0.8;
}
.btn-action{
    background: white;
    font-size: 14px;
    border: 1px solid lightgray;;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    color: white;
    border:none;
}
.create-post-btn{
    background: #2A36F3;
}
.manage-group-btn{
    background: #1F77F5;
}
.gamification-btn{
    background: #31A8F5;
}
.action-section{
    margin-bottom: 40px;
    padding-left: 0;

}
.btn-action i{
    display: block;
}
.post{
    background: white;
    border-radius: 5px;
    padding: 4%;
}
.post-list{
    padding: 0;
    margin-top: 50px;
}
.tab-content{
    padding: 15px;
}
.post{
    margin-top: 10px;
    margin: auto;;
    box-shadow: 1px 1px 5px #E6E9FA;
    max-width: 48%;
    margin-bottom: 20px !important;
    padding-bottom: 10px;
    cursor: pointer;
    transition:0.3s all;
}

.post:hover{
    opacity: 1;
    transform:scale(1.03);
}
.post .title{
    color: #1F3AD3;
    font-weight: bold;
    font-size:20px;
    margin-bottom:5px;
}
.post .author{
    opacity: 0.4;
    font-size: 10px;
}
.post .content{
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}
.post .date{
    float: right;
    opacity: 0.8;
    font-size: 10px;
    padding-top: 20px;
}
