.slider-section{
    text-align: center;
    margin-top:15vh;
    padding-bottom: 10px;
}
.slick-initialized .slick-slide{
    outline: none !important;
}
.login-section{
    text-align: center;
    max-width: 450px;
    margin: auto;
    margin-top: 100px;
}
.slider-section img{
    margin: auto;
    max-width: 18vw;
    padding: 1vw;
    width: 80%;
    margin-bottom: 20px;
}
.slider-section p{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    color: black;
}
.theme-btn{
    width: 60%;
}
.second-theme-btn{
    width: 60%;
    margin-top: 10px;
}
