.login-bg{
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0;
    top:0;
    z-index: -1;
    background: #4d7fff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4d7fff 1%, #943dff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4d7fff 1%,#943dff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4d7fff 1%,#943dff 100%);
}
.forgot-password{
    float: right;
    color: white;
    opacity: 0.7;
    font-size: 13px;
    text-decoration: underline;
}
.login-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    max-width: 300px;
}

.logo{
    width: 100px;
    margin: auto;
    margin-bottom: 5vh;
}

input{
    margin-bottom: 10px;
    border-radius: 20px !important;
    outline:none;
    margin-top: 10px;
    width: 100%;
}
input::placeholder {
  color: white;
  opacity: 0.6;
}

.login-btn{
    width: 100%;
    margin-top: 20px;
}

.back-btn{
    background: transparent;
    color:white;
}
