.btn-section .home-join-btn{
    background: #4046DC;
    color: white;
    border: none;
}
.tab-content{
    padding: 50px 0px;
}
.btn-section .home-create-btn{
    background: #0F246C;
    color: white;
    border: none;
}
.home-group0bg{
    width: 50%;
}
.no-group-content{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #EBEBEE;
}
.not-found{
    opacity: 0.7;
}
.my-group{
    font-size: 28px;
     margin-bottom: 40px;
    text-align: center;
    color: #0A1283;
    font-weight: bold;
}
.group-card{
    max-width: 30% ;
    padding: 0;
    margin-bottom: 20px !important;
    background: white;
    box-shadow: 1px 1px 5px #F1F1F1;
    margin: auto;
}
.group-content{
    padding: 10px 20px;
}
.group-image{
    width: 100%;
    filter: brightness(50%);
}
.group-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top:30px;
    color: white;
    left: 0;
    right:0;
    text-align: center;

}
.button-section{
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
.visit-btn{
    background: #3C47E8;
    color: white;
    border:none;
    font-size: 14px;

}
.group-owner,.group-type{
    font-size: 12px;
    opacity: 0.6;
    display: block;

}
.group-description{
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}
.content{
    padding-top: 5%;
}
