.tab-content{
    padding: 30px 10px;
}
.badget-section img{
    width: 80%;
    margin: auto;
}
.badget-section{
    margin-top: 50px;
    text-align: center
}
.goal-btn{
    margin-bottom: 50px;
    background: #2821C0;
    margin-top: 40px;
}
.info-btn{
    background: #000682;
    padding: 5px;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}
.badget-section .desc{
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 0;
}
.badget-section .time{
    font-weight: normal;
    opacity: 0.6;
    font-size: 12px;
}
#infoModal p{
    font-weight: lighter;
    font-size: 14px;
    opacity: 0.8;
}
#infoModal .section{
    margin-top: 20px;
}
#infoModal .title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.goal-option{
    margin-bottom: 10px;
}
small{
    opacity: 0.7;
}
.goal-label{
    background: #3d29c4; /* Old browsers */
background: -moz-linear-gradient(45deg, #3d29c4 0%, #5171ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #3d29c4 0%,#5171ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #3d29c4 0%,#5171ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 5px;
padding: 30px;
margin-bottom: 5px;
}

.goal-label-in-progress p{
    color: white !important;
}
.goal-label-in-progress{
    color: white;
    font-weight: bold;
    background: #3d29c4; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3d29c4 0%, #5171ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3d29c4 0%,#5171ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3d29c4 0%,#5171ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 80px;
    text-align: center;
}
.goal-label p{
    color: white !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.goal-label p span{
    color: white !important;
    font-size: 18px !important;
    display: block;
    font-weight: bold !important;
}
.step-label{
    margin-bottom: 25px;
    margin-top: 50px;
}
.step{
    background:#3029C9;
    border-radius: 100%;
    color: white;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-right: 5px;
}
.history-section table,.history-section th,.history-section tr,.history-section td{
    border:none !important;
}
.history-section td{
    opacity: 0.8;
    font-size: 14px;
}
.history-section th{
    background: rgba(0,0,0,0.02);
    font-size: 14px !important;
    font-weight: normal !important;
}
.history-section table{
    margin-top: 10px;
}
.profile_pic{
    width: 100%;
    max-width: 80px;
}
#goalProgress{
    max-width: 200px;
    margin: auto;
}
.delete-btn{
    color: red;
    float: right;
}
.goal-label{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.menu-section {
    margin-top: 50px;
    text-align: center;
}
.profile-box{
    margin: auto;
    margin-top: 50px;
    padding: 5%;
    box-shadow: 0px 0px 10px #F9F9F9;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    background: white;
}
.current-pic{
    width: 100px;
}
.profile-box p{
    font-size: 13px;
    color: #3A3A3A;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

.menu-list li{
    text-align: left;
    padding: 5px 0px;

}
.name{
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

a {
    color: gray;
    font-size: 14px;
    opacity: 0.8;
    text-decoration: none !important;
    transition: 0.3s all;
}
a:hover{
    font-size: 16px;
    color: #383AEE;
}
a.active{
    color: #080234;
    font-size: 16px;
    font-weight: bold;
}

.progress{
    height: 10px;
}
.details .name{
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.details .level{
    font-weight: 300;
    font-size: 14px;
}
.exp{
    font-size: 10px;
    text-align: right;
}.badget-bg{
    width: 100% !important;
    margin: auto;
    padding: 15px;
    padding-top: 0;
    opacity: 0.9;
    border-radius: 10px !important;
}
