@media screen and (max-width: 1200px) {


}
@media screen and (max-width: 992px) {
    .navbar .nav-item{
        padding: 0px 15px;
    }
    .search-form{
        width: 100%;
        display: block;
    }
    .logo-brand{
        position: absolute;
        top: 10px;
    }
    .navbar-nav{
        padding-bottom: 10px;
    }
    .search-input, .search-form{
        margin-right: 0;
    }
    .content{
        margin-top: 120px !important;
        margin-bottom: 50px !important;
    }
    body{
        padding: 5% 0;
    }
    .group-card{
        max-width: unset !important;
    }
    #profile-section, #badget-section{
        display: none;
    }
    .right-section{
        order: 1;
    }
    .group-section{
        order: 2;
    }
    .post{
        max-width: unset !important;
    }
    .activity-section, .submission-section{
        width: 100% !important;
    }
    .content{
        width: 90%;
    }
    .content>.row{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar{
        padding: 15px 5%;
    }

}
@media screen and (max-width: 768px) {


}
@media screen and (max-width: 575px) {


}
@media screen and (max-width: 480px) {


}
@media screen and (max-width: 320px) {


}
