@media screen and (min-width: 992px) {
    .content{
        max-width: 70% !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 992px) {
    .content{
        max-width: 80% !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 768px) {
    .content{
        max-width: 90% !important;
        margin: auto !important;
    }
    .slider-section img{
        max-width: 40vw !important;
    }
}
@media screen and (max-width: 575px) {
    .content{
        max-width: 95% !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
