.tracker-section{
    margin-top: 50px;
    text-align: center;
}
#congrat{
    text-align: center;
}
#congrat h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
#congrat p{
    font-size: 14px;
    opacity: 0.5;
}
#congrat img{
    width: 50%;
    margin: auto;
    height: auto;
    border-radius: 100%;
}
.table{
    background: white;
}
.tracker-section .nav-link.active{
    font-size: 14px;
    background: #3440EF !important;
}
.info-section{
    text-align: right;
    padding-right: 50px;
}
.info-btn{
    background: #0C107B;
    padding: 5px;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
}
#infoModal p{
    font-weight: lighter;
    font-size: 14px;
    opacity: 0.8;
    text-align: left;
}
#infoModal .section{
    margin-top: 20px;text-align: left;
}
#infoModal .title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    padding-bottom: 0;text-align: left;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.nav-link{
    color: #AFAFAF;
    font-size: 14px;
}
.nav-list{
    display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
}
.nav-list li{

}

.round-group{
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px dotted #D6D6D6;
    background: white;
    border-radius: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.round-content p{
    font-size: 13px;
}
.round-content input{
    text-align: center;
    border:none;
    outline: none;
    font-size: 28px;
    color: #3844FC;
}

.round-input{
    width: 100%;
    max-width: 100%;
    flex: 1 100%;
    background: transparent;
    border:none;
}

.update-btn{
    background: #6670FF;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: white;
    border: none;
    margin-bottom: 200px;
    margin-top: 40px;
}

table{
    border-radius: 5px;
    background: white;
    box-shadow:0px 0px 15px #F4F4F4;
    margin-top: 40px;
}

th{
    border:none !important;
    padding-top: 50px !important;
    font-size: 14px;
}

td{
    font-size: 13px;
    opacity: 0.7;
    border:none !important;
}
td{
    padding: 20px 10px !important;
}
