.form-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #EAEAEA;
    margin-bottom: 20px;
}
.form-box i{
    margin-right: 5px;
}
.form-box .title{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px;
}
.form-box .subtitle{
    font-size: 12px;
    color:gray;
    margin-bottom: 20px;
}

.text-editor-container{
    padding:20px;
}
