.card{
    border: 1px solid #F1F1F1;
}
.fonts-row{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
canvas{
    height: 500px;
}
.section {
	text-align: center;
	position: relative;
	width: 100%;
}
.white {
	background-color: #fff !important;
	color: #000 !important;
}
.section .pagewidth {
	padding: 5% 0;
}

/*Icons*/
.icons-list h3 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 1em 0;
}
.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 33%;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	font-size: 17px;
	color: #000;
	position: absolute;
	margin-top: 5px;
	transition: .3s;
	border: none;
	padding: 0;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #666;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}