.map-panel{
    height: 80vh;
    padding:15px;
    background: white;
    border-radius: 5px;
    box-shadow:0px 0px 5px #f1f1f1;
    position: relative;
}
.map-panel p{
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}
#mapid{
    width: 100%;
    height: 100%;
}
