.card{
    border: 1px solid #F1F1F1;
}
.popup-row{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}
canvas{
    height: 500px;
}
.btn {
	border-radius: 5px !important;
	font-size: 13px !important;
}