.node {
  cursor: pointer;
}

.node circle {
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: rgb(55, 68, 105);
  stroke-width: 1px;
}
.tree-hierarchy-box{
    width: 100%;
    max-width: 100%;
    overflow: auto;
    height: 80vh;
    max-height: 80vh;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #EAEAEA;
    margin-bottom: 20px;
    border-radius: 5px;
}
