@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body{
  width:100%;
  margin:0;
  overflow-x:hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
}
.captcha img{
    width: 100% !important;
    height: auto !important;
    margin-bottom: 15px;
}


.page-loader{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
z-index: 999999;
}
.loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.loader img{
width: 100px;
display: block;
margin:auto;
margin-bottom: 15px;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden !important;
	max-height: 100vh;
}

.form {
	position: relative;
	z-index: 1;
	background: transparent;
	border-radius:5px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.login-form h1{
	color: white;
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.form input::-webkit-input-placeholder{
	color: #b5b9c8;
}

.form input,select  {
	font-family: 'Source Sans Pro', sans-serif;
	outline: 0;
	background: transparent;
	color:white;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	padding-left: 50px;
	box-sizing: border-box;
	font-size: 14px;
	border-bottom:1px solid lightgray;
}

.form button {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: white;
	width: 100%;
	padding: 15px;
	color: #282828;
	border:none;
	font-size: 14px;
	font-weight: 300;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3s;
	cursor: pointer;
	margin-top: 30px;
}
.userID {
	background-image: url(/img/icon/username.png) !important;
	background-position: 15px 17px!important;
    background-repeat: no-repeat!important;
    background-size: 15px!important;
}
.pass {
	background-image: url(/img/icon/password.png) !important;
	background-position:15px 17px!important;
    background-repeat: no-repeat!important;
    background-size: 15px!important;
}
.captcha {
	background-image: url(/img/icon/captcha.png) !important;
	background-position:15px 17px!important;
    background-repeat: no-repeat!important;
    background-size: 15px!important;
}

.form button:active,
.form button:focus {
	opacity:0.7;
}

.form button:hover{
	background: #1e519e;
	color:white;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #199AFF;
	color: #199AFF;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.form .test-form {
	display: none;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 200px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}

.container .info {
	margin: 50px auto;
	text-align: center;
}

.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: black;
}

.container .info span {
	color: black;
	font-size: 12px;
}

.container .info span a {
	color: black;
	text-decoration: none;
}

.container .info span .fa {
	color: black;
}

#loginBack{
	width:1.6%;
	position:absolute;
	top:5%;
	left:5%;
	cursor:pointer;
}

#loginBack:hover{
	opacity:0.7;
}

.logo{
	display:block;
	width:90px;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 20px;
}

@media (max-width: 768px) {
	.login-page {
		width: 350px;
		padding: 30% 0 0 !important;
		margin: auto;

	}
	.language-section{
		float:initial !important;
		width: 80% !important;
		margin: auto !important;
		margin-top: 50px !important;
		left:0 !important;
	}
	.form{
		padding:18px !important;
	}
}

@media (max-width: 440px) {
	.login-page {
		width: 320px;
		padding: 10% 0 0;
		margin: auto;
	}
}

@media (min-width: 640px) {
	.login-page {
		width: 400px;
		padding: 7% 0 0;
		margin: auto;
	}

}

.language-section{
	width: 150px;
	margin-right: 200px;
	margin-top: 50px;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
}


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-user-select: none;
  overflow-x: hidden;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body {
  background: #2c2d44;
}
#particles-background,
#particles-foreground {
    position: fixed;
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
    background: #2d49b7; /* Old browsers */
background: -moz-linear-gradient(45deg, #2d49b7 0%, #613bd3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2d49b7 0%,#613bd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2d49b7 0%,#613bd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; }
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}

.loader{
    background: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
}
.loading-section{
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.loader p{
    font-weight: bold;
    font-size: 14px;
}
.loader img{
    width: 200px;
}
